<!--
==========================================
 Title:  HomeView.ts
 Date:   18 August 2022
==========================================
-->

<div class="home">
  <!-- Logo -->
  <img alt="Vue logo" src="../assets/logo.png" />
  <!-- Title of Page -->
  <TitleComponent msg="Welcome to Test Assessment" />
  <!-- Create Button -->
  <div class="add-comment" v-if="notes.length > 0">
    <button @click="onCreateItem()">Add New Note</button>
  </div>
  <div class="list">
    <!-- List of Notes -->
    <NotesContainer
      v-for="note in notes"
      :title="note.title"
      :content="note.content"
      :itemKey="note.itemKey"
      :status="note.status"
      :key="note.itemKey"
      @delete="(itemKey) => onDeleteItem(itemKey)"
      @update="(itemKey) => onUpdateItem(itemKey)"
      @discard-update="(itemKey) => onDiscardUpdateItem(itemKey)"
      @confirm-update="(itemKey, valueTitle, valueContent) => onConfirmUpdateItem(itemKey, valueTitle, valueContent)"
      @discard-create="() => onDiscardCreateItem()"
      @confirm-create="(itemKey, valueTitle, valueContent) => onConfirmCreateItem(itemKey, valueTitle, valueContent)"
    />
  </div>
  <!-- If there is no item, Show some comment -->
  <div class="noitem" v-if="notes.length === 0">
    <span>There is no items to show. Press Create button to add note.</span>
    <button @click="onCreateItem()">Create</button>
  </div>
</div>
