.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-comment {
  button {
    width: 200px;
    height: 40px;

    border-radius: 5px;
    background-color: #f5d6bc;
    border: 2px solid #fac090;

    font-size: 15pt;
  }

  button:hover {
    background-color: #ffa963;
    border: 2px solid #ffa963;
    color: white;
  }
}

.noitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;

  span {
    flex: none;
    flex-grow: 0;

    font-size: 30pt;
  }
  button {
    width: 200px;
    height: 40px;

    border-radius: 5px;
    background-color: #f5d6bc;
    border: 2px solid #fac090;

    font-size: 15pt;
  }

  button:hover {
    background-color: #ffa963;
    border: 2px solid #ffa963;
    color: white;
  }
}

.list {
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
}
