.note-container {
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;

  width: 900px;

  border-radius: 5px;
  background-color: #fdeada;
  border: 2px solid #fac090;

  display: flex;
  flex-direction: column;
  justify-content: center;

  hr {
    width: 90%;
  }

  .title {
    flex: none;
    flex-grow: 0;
    padding: 15px 30px 15px 30px;

    font-family: "Cooper Black";
    font-size: 30pt;
  }
  .content {
    flex: none;
    flex-grow: 0;

    padding-left: 15px;
    padding-right: 15px;

    font-family: "consolas";
    font-size: 15pt;
  }
  .actions {
    flex: none;
    flex-grow: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    height: 60px;

    button {
      width: 100px;
      height: 40px;

      border-radius: 5px;
      background-color: #f5d6bc;
      border: 2px solid #fac090;

      font-size: 15px;
    }

    button:hover {
      background-color: #ffa963;
      border: 2px solid #ffa963;
      color: white;
    }

    .delete {
      background-color: #953735;
      border: 2px solid #953735;
      color: white;
    }

    .delete:hover {
      background-color: white;
      color: black;
    }
  }
}
