<!-- 
==========================================
 Title:  NotesComponent.html
 Date:   18 August 2022
========================================== 
-->

<div>
  <!--  Normal state of NotesItem   -->
  <div class="note-container" v-if="status === 'showing'">
    <div class="title">{{title}}</div>
    <hr />
    <div class="content">{{content}}</div>
    <hr />
    <div class="actions">
      <button class="update" @click="$emit('update', itemKey)">Update</button>
      <button class="delete" @click="$emit('delete', itemKey)">Delete</button>
    </div>
  </div>

  <!--  Update state of NotesItem   -->
  <div class="note-container" v-else-if="status === 'editing'">
    <input v-model="valueTitle" placeholder="Note Title" />
    <hr />
    <textarea v-model="valueContent" placeholder="Input Content Here..." />
    <hr />
    <div class="actions">
      <button class="discard" @click="$emit('discardUpdate', itemKey)">
        Discard
      </button>
      <button
        class="confirm"
        @click="$emit('confirmUpdate', itemKey, valueTitle, valueContent)"
      >
        Confirm
      </button>
    </div>
  </div>

  <!--  Creating state of NotesItem   -->
  <div class="note-container" v-else-if="status === 'creating'">
    <input v-model="valueTitle" placeholder="Note Title" />
    <hr />
    <textarea v-model="valueContent" placeholder="Input Content Here..." />
    <hr />
    <div class="actions">
      <button class="discard" @click="$emit('discardCreate')">Discard</button>
      <button
        class="confirm"
        @click="$emit('confirmCreate', itemKey, valueTitle, valueContent)"
      >
        Create
      </button>
    </div>
  </div>
</div>
